# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
custom_env/

# Python virtual environments
venv/
.env/
.envrc
*.env

# Jupyter Notebook
.ipynb_checkpoints/

# Build output
dist/
dist-ssr/
build/
*.local

# Operating system files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Data & model checkpoints (optional, comment out if needed)
*.h5
*.ckpt
*.pt
*.pth
*.joblib
*.pkl

# Large data files (optional)
data/
datasets/
__pycache__/
paper


# General C++ ignore rules
*.o
a.out
a
# Ignore all files with no extension anywhere
*.
*
!*/
!*.*
